<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пример</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="logo">Cli/WEB-приложение для документооборота</div>
    <div class="nav-buttons">


        <button onclick="">Профиль</button>
        <button onclick="">Выйти</button>
    </div>
</div>

 <div class="login">
     <div class="login-screen">
    <p>Рады видить вас на нашем сайте</p>
    <p>Теперь у вас есть полный доступ к нашему сайту</p>
          <input type="file" id="fileInput">
     </div>
</div>
</body>
</html>