<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="logo">Cli/WEB-приложение для документооборота</div>
    <div class="nav-buttons">
    <a href="{{ url_for('users.downoloads')}}">
    <button  type="button" class="btn btn-primary">Загрузить документ на подпись</button>
    </a>
        <a href="{{ url_for('users.downolads_2')}}">
    <button  type="button" class="btn btn-primary">Загрузить документ </button>
    </a>
        <a href="{{ url_for('users.account')}}">
    <button  type="button" class="btn btn-primary">Профиль</button>
    </a>
        <a href="{{ url_for('users.all_files')}}">
        <button onclick="">Список документов на подпись</button>
        </a>
        <a href="{{ url_for('users.all_uploaded_files')}}">
        <button onclick="">Список всех загруженных документов </button>
        </a>
    </div>

        </div>
<div class="login">
     <div class="login-screen">
     <h1>Все загруженные документы </h1>
         <ul>
  {% for file in files %}
    <li>{{ file.filename }}</li>
  {% endfor %}
</ul>

<ul>
  {% for file in files_2 %}
    <li>{{ file.filename }}</li>

  {% endfor %}
</ul>

     </div>
</div>
 <script>
    document.addEventListener('keydown', function(event) {
        if (event.key.toLowerCase() === 'h' && !['INPUT', 'TEXTAREA'].includes(document.activeElement.tagName)) {
            window.location.href = "/help";
        }
    });
    </script>
</body>
</html>